/* CSS declarations go here */
body {
  padding-top: 50px;
}

.brand {
  font-size: 2.5em;
  text-align: center;
}

a {
  color: rgba(8, 5, 7, 0.91);
}

a:hover {
  color: rgba(106, 144, 143, 0.91);
}

.navbar-inverse {
  background-color: gainsboro;
}

.navbar-right {
  margin-right: 40px;
}