<template name="editClass">
  <!--<div id="example" class="modal">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">x</a>
      <h3>Edit Class</h3>
    </div>
    <div class="modal-body">
      <label for="title">Title</label>
      <input type="text" name="title" value="{{evt.title}}" id="title">
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-success">Save</a>
      <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    </div>
  </div>-->

  <h3>Title: </h3><input type="text" name="title" class="title" placeholder="Title" required>
  <h3>Start: </h3>
  <select name="startHr">
    <option value="default">Choose an hour</option>
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select> :
  <select name="startMin">
    <option value="default">Choose a minute</option>
    <option value="00">00</option>
    <option value="15">15</option>
    <option value="30">30</option>
    <option value="45">45</option>
  </select> <p> </p>
  <select name="DayNight">
    <option value="AM">AM</option>
    <option value="PM">PM</option>
  </select>
  <h3>End: </h3>
  <select name="endHr">
    <option value="default">Choose an hour</option>
    <option value="01">01</option>
    <option value="02">02</option>
    <option value="03">03</option>
    <option value="04">04</option>
    <option value="05">05</option>
    <option value="06">06</option>
    <option value="07">07</option>
    <option value="08">08</option>
    <option value="09">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select> :
  <select name="endMin">
    <option value="default">Choose a minute</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="45">45</option>
    <option value="50">50</option>
  </select>
  <select name="AMPM">
    <option value="AM">AM</option>
    <option value="PM">PM</option>
  </select>
  <input type="submit" value="Add Course">
</template>