<template name="nav">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
      <a class="brand" href="{{pathFor 'home'}}">phoTUR</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{pathFor 'home'}}">Home</a></li>
        {{#if currentUser}}
        <li><a href="{{pathFor 'upload'}}">Upload</a></li>
        {{else}}
        <li><a href="#">{{> loginButtons align="right"}}</a></li>
        {{/if}}
      </ul>
    </div>
  </div>
</template>